:root {
    --HOST-VAN-PRICING-BGCOLOR: #FFFFFF;
    --HOST-VAN-PRICING-SPAN-COLOR: #4D4D4D;
}

.host-van-pricing {
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--HOST-VAN-PRICING-BGCOLOR);
    padding: 0.8em 1em 2em 0.8em;
    margin-bottom: 2.2em;
    display: flex;
    align-items: center;
}

.host-van-pricing span {
    font-size: 1rem;
    color: var(--HOST-VAN-PRICING-SPAN-COLOR);
}
