:root {
    --HOST-COLOR: #161616;
}

.host-vans {
    width: 100%;
    padding-inline: 1.6em;
    color: var(--HOST-COLOR);
}

.host-vans__header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.host-vans__list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: calc(4em + var(--FOOTER-HEIGHT));
}

.error {
    color: red;
    padding-inline: 1.4em;
    font-size: 1.2rem;
}

.loading {
    padding-inline: 1.4em;
    font-size: 1.2rem;
}
