:root {
    --HOST-COLOR: #161616;
    --HOST-VAN-CARD-BGCOLOR: #FFFFFF;
    --HOST-VAN-DETAIL-PRICE-COLOR: #4D4D4D;
}

.host-vans {
    width: 100%;
    padding-inline: 1.6em;
    color: var(--HOST-COLOR);
}

.host-vans__header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.host-vans__list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 4em;
}

.host-vans__card {
    height: 102px;
    display: flex;
    align-items: center;
    background: var(--HOST-VAN-CARD-BGCOLOR);
}

.host-vans__card img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    margin-left: 1.5em;
    margin-right: 1em;
}

.host-vans__card-detail h1 {
    font-weight: 600;
    font-size: 1.2rem;
}

.host-vans__card-detail p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--HOST-VAN-DETAIL-PRICE-COLOR)
}
