.not-found-container {
    color: #161616;
    padding-inline: 1.7em;
}

.not-found-container h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

.not-found-container a.link-button {
    display: block;
    height: 55px;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #161616;
    color: white;
    text-align: center;
    line-height: 55px;
    border-radius: 5px;
}
