:root {
    --HOST-HEADER-LINK-FONTCOLOR: #4D4D4D;
    --HOST-HEADER-LINK-ACTIVE-FONTCOLOR: #161616;
}

.host-header {
    display: flex;
    justify-content:space-around;
    margin-top: 2em;
    margin-bottom: 2.8em;
    padding-inline: 1em;
    font-size: 1rem;
}

.host-header a {
    text-decoration: none;
    color: var(--HOST-HEADER-LINK-FONTCOLOR);
    font-weight: 500;
}

.host-header a:hover,
.active-link {
    color: var(--HOST-HEADER-LINK-ACTIVE-FONTCOLOR);
    text-decoration: underline;
    font-weight: 700;
}
