:root {
    --NAVBAR-BGCOLOR: #FFF7ED;
    --NAVBAR-FONTCOLOR: #000000;
    --NAVITEMS-RIGHT-FONTCOLOR: #4D4D4D;
    --NAVITEMS-FONTCOLOR-ACTIVE: #161616;
    --NAVBAR-HEIGHT: 110px;
}

.navbar {
    height: var(--NAVBAR-HEIGHT);
    display: flex;
    align-items: center;
    padding: 2.25em 1.6em;
    background: var(--NAVBAR-BGCOLOR);
    color: var(--NAVBAR-FONTCOLOR);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar__item {
    text-decoration: none;
    color: inherit;
}

.navbar__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar__logo {
    width: 145px;
    height: 41px;
}

.navbar__items {
    display: flex;
    color: var(--NAVITEMS-RIGHT-FONTCOLOR);
    font-size: 1rem;
    font-weight: 600;
    margin-left: auto;
    column-gap: 8px;
}

.active-link,
.navbar__item:hover {
    font-weight: 700;
    text-decoration: underline;
    color: var(--NAVITEMS-FONTCOLOR-ACTIVE);
}
